.main-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

body {
  /* overflow-y: hidden; */
  overflow-x: hidden;
  background-color: black !important;
  position: relative;
}

@media (max-width: 770px) {
  .main-row {
    flex-direction: column;
  }
}

.neon-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  z-index: 100;
  position: absolute;
}

/* .neon-text {
  color: #69f1f1;
  background: linear-gradient(45deg, #68eaed 50%, #ffffff 50%);
} */

/* .neon-text {
  text-shadow: 0.1vw 0vw 0.25vw #69f1f1, 0.2vw 0vw 0.25vw #69f1f1,
    0.4vw 0vw 0.25vw #69f1f1, 0.1vw 0vw 0vw #53c7c7, 0.2vw 0vw 0vw #53c7c7,
    0.4vw 0vw 0vw #53c7c7, 0.1vw 0vw 0.1vw #53c7c7, 0.2vw 0vw 0.1vw #53c7c7,
    0.4vw 0vw 0.1vw #53c7c7, 0.1vw 0vw 2vw #53c7c7, 0.2vw 0vw 2vw #53c7c7,
    0.4vw 0vw 2vw #53c7c7, 0.1vw 0vw 1vw #2ea8a8, 0.2vw 0vw 1vw #2ea8a8,
    0.4vw 0vw 5vw #2ea8a8, 0.1vw 0vw 5vw #2ea8a8, 0.2vw 0vw 20vw #2ea8a8,
    0.4vw 0vw 10vw #2ea8a8, 0.1vw 0vw 10vw #2ea8a8, 0.2vw 0vw 30vw #2ea8a8,
    0.4vw 0vw 10vw #2ea8a8;
} */

/* .neon-text {
  text-shadow: 0.4vw 0vw 0.25vw #69f1f1, 0.1vw 0vw 0vw #53c7c7,
    0.2vw 0vw 0.1vw #53c7c7, 0.4vw 0vw 0.1vw #53c7c7, 0.1vw 0vw 2vw #53c7c7,
    0.2vw 0vw 2vw #53c7c7, 0.4vw 0vw 2vw #53c7c7, 0.1vw 0vw 1vw #2ea8a8;
  background: linear-gradient(45deg, #68eaed 50%, #ffffff 50%);
} */

.neon-text {
  display: inline-block;
  margin: 0;
  line-height: 1em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  background: linear-gradient(45deg, #68eaed 50%, #ffffff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffffff;
  /* text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff,
    0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff; */

  /* text-shadow: 0.4vw 0vw 0.25vw #69f1f1, 0.1vw 0vw 0vw #53c7c7,
    0.2vw 0vw 0.1vw #53c7c7, 0.4vw 0vw 0.1vw #53c7c7, 0.1vw 0vw 2vw #53c7c7,
    0.2vw 0vw 2vw #53c7c7, 0.4vw 0vw 2vw #53c7c7, 0.1vw 0vw 1vw #2ea8a8; */
}

/*  background-image: linear-gradient(45deg, black 50%, white 50%); */
